@page
@model UserRoleNeededModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "User Role Needed";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome! If you can see this you are authenticated. All authenticated users are in the User Role so Admin Role can view this too.</p>


